#modal-modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 32px 0 rgba( 255, 255, 255, 0.4 );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal-window {
    font-size : 20px;
    background: rgb(250, 250, 250);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 30%;
    height: 25%;
    margin : 15% auto;
    position: relative;
    padding: 10px;
}

#modal-modal-overlay #title {
    padding-left: 10px;
    display: inline;
    text-shadow: 1px 1px 2px gray;
    color: black;
}

#modal-modal-overlay #title h2 {
    display: inline;
}

#modal-modal-overlay #close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: black;
}

#modal-modal-overlay #content {
    margin-top: 40px;
    padding: 0px 10px;
    text-shadow: 1px 1px 2px gray;
    color: black;
}

#modal-modal-overlay #footer {
    margin-top: 70px;
    padding: 0px 10px;
    color: black;
}